{% extends 'base.html' %}
{% load static %}

{% block title %}  Question | Quiz App  {% endblock title %}

{% block content %}
    <hr style = "border: 0; border-top: 1px solid #999; margin: 1em 0;">
    <h1>Quiz App</h1>
    <hr style = "border: 0; border-top: 1px solid #999; margin: 1em 0;">
<div class="quiz">
    <form action="{% url 'quiz' %}" method="post">
        {% csrf_token %}

        {{ formset.management_form }}


        {% for form in formset %}

           <b> <h4> {{ form.question_text }} </h4></b>

            <table>
                {{ form.as_table }}
            </table>


{% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a type="button" class="btn btn-dark" href="{% url 'home' %}">Cancel </a><br>

    </form>
    </div>


{% endblock %}


