{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Quiz App{% endblock title %} </title>
    <link rel="icon" href="{% static 'images/quiz-1.png' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

{% block content %}


<div class="main__block">
    <div class="header_block">
        <div class="left_header_block">
            <h2>Welcome to Quiz App</h2>
            <p>Test task for Raccoon Gang</p>
                    <a class="start_btn" href="{% url 'quiz' %}"><h3>Start Quiz</h3></a>

        </div>
        <div class="right_header_block">
            <img src="{% static 'images/img1.svg' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}


</body>
</html>